.container{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(100px,200px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.menu{
    grid-column: 1/2;
    grid-row: auto;
    border: 2px dashed black;
    border-radius: 10px;
    display: flex;
    width: 100%;

}
.main{
    grid-row: auto;
    grid-column: 2/9;
    border: 2px dashed black;
    border-radius: 10px;
    padding-right: 30px;
    display: flex;
}