body {
    font-family: Verdana;
    color: azure;
    background-color: crimson;
}

p{
    margin-top: 50px;
    margin-left: 15px;

}
ul{
    margin-top: 5px;
}
img{


}
h1{
    position: center;
    padding-left: 250px;
}

@media only screen and (min-width: 500px) {
    .main, .menu {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .main {
        width: 80%;
    }

}