body {
    font-family: Verdana;
    color: azure;
    background-color: crimson;
}

p{
    margin-top: 30px;

}
ul{
    margin-top: 30px;
}
img{
    margin-left: 200px;
}
h1{
    margin-left: 600px;
}

